################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HAADUtil/HAADUtil/obj/Debug
/HAADUtil/HAADUtil.Communication.Mqtt/obj
/HAADUtil/.vs/HAADUtil/v16
/HAADUtil/.vs/HAADUtil/DesignTimeBuild
/HAADUtil/HAADUtil/bin/Debug
/HAADUtil/HAADUtil.Communication.Mqtt/bin/Debug/netstandard2.0
/HAADUtil/HAADUtil.Tests/bin/Debug
/HAADUtil/HAADUtil.Tests/obj/Debug
/HAADUtil/packages
