################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HAADUtil/HAADUtil/obj/Debug
/HAADUtil/HAADUtil.Communication.Mqtt/obj
/HAADUtil/.vs/HAADUtil/v16
/HAADUtil/.vs/HAADUtil/DesignTimeBuild
